body {
    margin: 0;
}

.text-principal {
    background-color: aquamarine;
    padding: 25px;
    font-weight: bolder;
}

.text-principal_title1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: black;
}

.buscarInput{
    width: 100%; 
    height: 50px;
    padding: 13px;
    font-size: 23px;
    border-radius: 10px;
}

.buscarInput::placeholder{
    font-size: 23px;
}

#chart {
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    margin-bottom: 150px;
}

#charArray {
    width: 80%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    padding-top: 10px;
}

#charList {
    width: 80%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    padding-top: 10px;
}

#charSearch {
    width: 80%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    padding-top: 10px;
}



/*Estilos css del componente de bootstrap (específicamente para minimizarlo) */
.accordion {
    max-width: 400px; 
    margin-left: 0vh;
}

.accordion-button {
    font-size: 14px; 
    padding: 0.5rem 1rem; 
    font-weight: bolder;
}

.accordion-body {
    font-size: 12px; 
    padding: 0.5rem 1rem;
    font-weight: bolder;
}

.accordion-button:hover {
    background-color: #ff1818; 
    color: white; 
  }
  
